.card-stats {
  .card-header {

    &.card-header-icon,
    &.card-header-text {
      text-align: right;
    }

    .card-icon+.card-title,
    .card-icon+.card-category {
      padding-top: 10px;

    }



    &.card-header-icon .card-title,
    &.card-header-text .card-title,
    &.card-header-icon .card-category,
    &.card-header-text .card-category {
      margin: 0;
    }

    .card-category {
      margin-bottom: 0;
      margin-top: 0;

      &:not([class="text-"]) {
        color: $gray-color;
        font-size: $font-paragraph;
      }
    }

    &+.card-footer {
      border-top: 1px solid #eee;
      margin-top: 14px;
    }

    &.card-header-icon i {
      font-size: 36px;
      line-height: 56px;
      width: 56px;
      height: 56px;
      text-align: center;
      background: rgb(51, 45, 140);
      background: linear-gradient(90deg, rgba(51, 45, 140, 1) 90%, rgba(77, 170, 207, 1) 99%);
    }
  }

  .card-body {
    text-align: right;
  }

  .card-header-danger .card-icon,
  .card-header-danger .card-text,
  .card-header-danger:not(.card-header-icon):not(.card-header-text),
  &.bg-danger,
  &.card-rotate.bg-danger .front,
  &.card-rotate.bg-danger .back {
    background: rgb(51, 45, 140);
    background: linear-gradient(90deg, rgba(51, 45, 140, 1) 90%, rgba(77, 170, 207, 1) 99%);
  }
}