@mixin navbar-colors($color, $link-color) {
    color: $link-color;
    background-color: #DEDEDE !important;
    @include shadow-navbar-color($color);
    /*aqui es el color*/

    /*background: #2a8c4a;*/
    .dropdown-item:hover,
    .dropdown-item:focus {
        @include shadow-small-color($color);
        background-color: #d11a1a;
        color: $link-color;
    }

    .navbar-toggler {
        .navbar-toggler-icon {
            background-color: #d11a1a;
        }
    }
}