<form>
    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header card-header-success">
                          <h4 class="card-title">Ficha Medica</h4>
                          <p class="card-category">Resgistro </p>
                      </div>
                      <div class="card-body">
                          <form>
                              
                              <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nombres" type="text" formControlName="nombre" required>
                                      
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Apellidos"  type="text" formControlName="apellido" required >
                                    </mat-form-field>
                                  </div>
                              </div>
    
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    
                                    <input matInput placeholder="Edad" type="number" formControlName="edad" required>
                                  </mat-form-field>
                                </div>
                                
                                <div class="col-md-6">
                                  
                                    <select id="sexo" class="form-control" >
                                      <option selected>Sexo</option>
                                      <option value="masculino">Masculino</option>
                                      <option value="femenino">Femenino</option>
                                      
                                    </select>                              
                                </div>
                            </div>
    
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Peso" type="number"   formControlName="Peso" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Talla" type="number"   formControlName="talla" required>
                                </mat-form-field>
                              </div>
                          </div>
    
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                
                                <input matInput placeholder="Medico Tratante" type="text"   formControlName="medico" required>
                              </mat-form-field>
                            </div>
                
                            <div class="col-md-6">
                              
                                <select id="Tsangre" class="form-control">
                                  <option selected>Tipo de sangre</option>
                                  <option value="O+"> O+</option>
                                  <option value="O-"> O-</option>
                                  <option value="A+"> A+</option>
                                  <option value="A-"> A-</option>
                                  <option value="B+"> B+</option>
                                  <option value="B-"> B-</option>
                                  <option value="AB+"> AB+</option>
                                  <option value="AB-"> AB-</option>
                                  
                                </select>                              
                            </div>
                        </div>
    
                                  
                              <div class="row">
                                  <div class="col-md-12">
                                    <label>Diagnostico</label>
                                    <mat-form-field class="example-full-width">
                                       <textarea matInput placeholder type="text" formControlName="diagnostico" required></textarea>
                                     </mat-form-field>
                                      
                                  </div>
                              </div>
    
                              <div class="row">
                                <div class="col-md-12">
                                  <label>Tratamiento</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder type="text"   formControlName="tratamiento" required></textarea>
                                   </mat-form-field>
                                    
                                </div>
                            </div>
    
                            <div class="row">
                              <div class="col-md-12">
                                <label>Medicamentos solicitados </label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder type="text"   formControlName="medicamentos" required></textarea>
                                 </mat-form-field>
                                  
                              </div>
                          </div>
    
    
                              <button mat-raised-button type="submit" style= "margin-left: 20px" class="btn btn-success pull-right" req>Guardar</button>
                              <button mat-raised-button type="submit" class="btn btn-success pull-right">Editar</button>
                              
    
                              <div class="clearfix"></div>
                          </form>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
    </div>
    
    
</form>