<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Cualquier cosa
                    </a>
                </li>
                <li>
                    <a href="#">
                        Otra cosa
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mas cosas
                    </a>
                </li>
                <li>
                    <a href="#">
                        Aun mas cosas
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="www.linkedin.com/in/elvis-rosa-0aa7b726a" target="_blank">Elvis Rosa</a> programador full stack.
        </div>
    </div>
</footer>
