<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a>
                        <img src="../../../assets/img/logo-fii-ug.jpg" width="30px;" height="auto">
                    </a>
                </li>
                                           
                <li>
                    <a>
                        Proyecto de vinculación con la sociedad
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/elvis-rosa-0aa7b726a/" target="_blank">
                        Conoce al desarrollador
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a>UG</a> facultad de ingeniería, sistemas de información.
        </div>
    </div>
</footer>
