.casas {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-weight: bold;
    font-size: 30px;

}

.btn-success {
    background-color: #3E54AC;
}

.btn-warning {
    background-color: #3E54AC;

}

.table-responsive {
    background-color: #DEDEDE;
}

.card-body {
    background-color: #DEDEDE;

}

.card-header .card-header-danger {

    background-color: #DEDEDE;
}

.card {
    background-color: #DEDEDE;
}

.row {
    background-color: #DEDEDE;
}