  <div class="main-content">
    <div class="container-fluid">
            <form [formGroup]="formCasa" (ngSubmit)="createCasa()">
                <div class="row">
                  <div class="col">
                    <input type="text" required class="form-control" placeholder="Nombre" formControlName="nombreecasa">
                  </div>
                  <div class="col">
                    <input type="number" class="form-control" placeholder="Número" formControlName="numerocasa">
                  </div>
                  <div class="col">
                    <mat-form-field>
                        <mat-label>estado</mat-label>
                        <mat-select formControlName="estado" required [value]="this.casa?.estado">
                          <mat-option value="1">Habilitar</mat-option>
                          <mat-option value="0">Deshabilitar</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col">
                    <input type="text" required class="form-control" placeholder="Dirección" formControlName="direccion">
                  </div>
                  <div class="col">
                    <input type="text" required class="form-control" placeholder="Imagen" formControlName="img">
                  </div>
                  <div class="col">
                    <button type="submit" class="form-control btn btn-success">Guardar</button>
                  </div>
                  
                </div>
              </form>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Casas</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="COLOR">
                                    <th>
                                        <b>#</b>
                                    </th>
                                    <th class="text-center">
                                        Direccón
                                    </th>
                                    <th class="text-center">
                                        Numero
                                    </th>
                                    <th  matTooltip="Si el usaurio no tiene tutor es porque es ADMINISTRADOR"  aria-label="Button that displays a tooltip when focused or hovered over" class="text-center">                             
                                        Nombre
                                    </th>
       
                                    <th class="text-center">
                                        Estado
                                    </th>
                                    <th class="text-center">
                                        Img
                                    </th>
                                    <th class="text-center">
                                        Ver todo
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of casas; let i = index">
                                        <td><b>{{i+1}}</b></td>
                                        <td class="text-center">
                                            {{c.direccion}}
                                        </td>                                        
                                        <td class="text-center">
                                            {{c.numerocasa}}
                                        </td>
                                        <td class="text-center">
                                            {{c.nombrecasa}}
                                        </td>                                        
                                        <td class="text-center">
                                            <i [class]="(c.estado===0) ? 'fa fa-times text-danger' : 'fa fa-check text-success'"></i>
                                        </td>
                                        <td class="text-center">
                                            Http://imagen.pnh
                                        </td>                                        
                                       
                                        <td class="text-center">
                                            <button (click)="verInfo(c)">
                                                <i class="fa fa-question" aria-hidden="true"></i>
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>