<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="formCasa">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre de casa" formControlName="nombreecasa" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Numero</mat-label>
                        <input matInput placeholder="Nombre de casa" formControlName="numerocasa" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>estado</mat-label>
                        <mat-select formControlName="estado" required [value]="estado">
                            <mat-option value="1">Habilitar</mat-option>
                            <mat-option value="0">Deshabilitar</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Dirección" formControlName="direccion" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Imagen</mat-label>
                        <input matInput placeholder="Imagen" formControlName="img" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="pull-right">
                        <mat-button-toggle type="button" class="btn-success" (click)="createCasa()">{{(casa?.idCasa) ?
                            'Editar': 'Crear Usuario'}}</mat-button-toggle>
                        <mat-button-toggle type="button" class="btn-danger" (click)="eliminarCasa()"
                            *ngIf="casa?.idCasa">Eliminar</mat-button-toggle>
                        <mat-button-toggle type="button" class="btn-warning" (click)="limpiar()"
                        >Limpiar</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Casas</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="COLOR">
                                    <th>
                                        <b>#</b>
                                    </th>
                                    <th class="text-center">
                                        Direccón
                                    </th>
                                    <th class="text-center">
                                        Numero
                                    </th>
                                    <th matTooltip="Si el usaurio no tiene tutor es porque es ADMINISTRADOR"
                                        aria-label="Button that displays a tooltip when focused or hovered over"
                                        class="text-center">
                                        Nombre
                                    </th>

                                    <th class="text-center">
                                        Estado
                                    </th>
                                    <th class="text-center">
                                        Img
                                    </th>
                                    <th class="text-center">
                                        Ver todo
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of casas; let i = index">
                                        <td><b>{{i+1}}</b></td>
                                        <td class="text-center">
                                            {{c.direccion}}
                                        </td>
                                        <td class="text-center">
                                            {{c.numerocasa}}
                                        </td>
                                        <td class="text-center">
                                            {{c.nombrecasa}}
                                        </td>
                                        <td class="text-center">
                                            <i
                                                [class]="(c.estado===0) ? 'fa fa-times text-danger' : 'fa fa-check text-success'"></i>
                                        </td>
                                        <td class="text-center">
                                            {{c.img}}
                                        </td>

                                        <td class="text-center">
                                            <button (click)="verInfo(c)">
                                                <i class="fa fa-question" aria-hidden="true"></i>
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>