#login {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;

}

.login-container {

    background-image: url('../../assets/img/fondo-horizontal.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

#ajustar {

    margin: 0px 20px;

}

/* ndendejdendn*/
.text-center {
    text-align: center;
}

.custom-form button {
    margin-top: 20px;
    width: 100%;
}


/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .d-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: flex-start;
    }

    .align-items-center {
        align-items: center;
    }

    .login-container {

        background-image: url('../../assets/img/fondo-horizontal.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;

    }

    #login {
        margin-right: 40%;
    }

}