<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Participantes</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="COLOR">
                                    <th>#</th>
                                    <th>Cedula</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Edad</th>
                                    <th>Sexo</th>
                                    <th>Rol</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let n of ninos index as i;">
                                        <td> {{i+1}} </td>
                                        <td>{{n.cedula}}</td>
                                        <td>{{n.nombres}}</td>
                                        <td>{{n.apellidos}}</td>
                                        <td>{{n.edad}}</td>
                                        <td>{{n.sexo}}</td>
                                        <td> Alumno </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
