.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.crear_ninos {

  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 45px;
  font-weight: bold;
  font-size: 30px;
}

.btn-success {
  background-color: #3E54AC;
}

.mat-stepper {
  background-color: #DEDEDE;
}

.mat-step {
  background-color: #DEDEDE;
}

.form1 {


  background-color: #DEDEDE;
}