.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.crear_ninos {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 45px;
  font-weight: bold;
  font-size: 30px;
}