.tutor {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 85px;
    font-weight: bold;
    font-size: 30px;
}

.cuadro_perfil {

    margin-top: -70px;
}

.card {

    background-color: #DEDEDE;
}