.COLOR {
    color: #050202;

}

.ninos_css {
    margin-left: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 80px;
}

.cuadro_perfil {

    margin-top: -70px;
}